[submodule "go.sso.proto"]
	path = go
	url = https://github.com/MoreWiktor/go.sso.proto
[submodule "contract.sso.proto"]
	path = contract
	url = https://github.com/MoreWiktor/contract.sso.proto
[submodule "ts.sso.proto"]
	path = ts
	url = https://github.com/MoreWiktor/ts.sso.proto
[submodule "web-client.sso.proto"]
	path = web
	url = https://github.com/MoreWiktor/web-client.sso.proto
